@media (max-width: 576px) {
    .logo{
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .logo{
        width: 25%;
        height: auto;
    }
    .toggler-menu{
        display: block;
        margin-left: 50%;
        transform: translateX(-50%);
        border-top: 1px solid #ffffff;
    }
    .header-menu2 .toggler-menu{
        display: block;
        margin-left: 50%;
        transform: translateX(-50%);
        border-top: 1px solid #000000;
    }
    .toggler-menu i{
        font-size: 25px;
    }
    nav{
        margin-top: 0px;
    }
    nav ul{
        z-index: 5;
        position: absolute;
        top: 100%;
        left: -104%;
        background-color: transparent;
        width: 100%;
        transition: 0.6s all;
        text-align: center;
    }
    nav ul li{
        display: block;
    }
    nav ul li a{
        width: 100%;
    }
    .content{
        margin-top: 90px;
    }
    .content>h3{
        font-weight: 200;
        font-size: 26px;
    }

    .content>h4{
        margin-top: 10px;
        font-size: 18px;
    }
    .button{
        margin-top: 110px;
    }
    .button button img{
        margin-left: 11.5px;
        margin-bottom: 15px;
    }

    .button button a{
        margin-top: 20px;
        font-size: 14px;
        font-weight: 300;
    }
    .welcome-section{
        border-bottom: 1px solid #e6e6e6;
        padding-bottom: 100px;
    }
    .line{
        height: 80px;
    }
    .welcome-content{
        margin-top: 70px; 
    }
    .welcome-content h3{
        font-weight: 300;
        font-size: 26px;
    }

    .welcome-content h4{
        margin-top: 10px;
        font-size: 16px;
    }
    .welcome-text p{
        font-size: 16px;
    }
    .technologies{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .techno-text h3{
        font-weight: 300;
        font-size: 26px;
    }

    .techno-text h4{
        margin-top: 10px;
        font-size: 16px;
    }
    .techno-logo{
        padding: 40px 0px 50px 0px;

    }
    .techno-logo img{
        width: 80px;
        padding: 10px;
    }
    .working-section{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .working-content h3{
        font-weight: 300;
        font-size: 26px;
        margin-bottom: 13px;
    }

    .working-content h4{
        margin-top: 10px;
        font-size: 16px;
    }

    .working-body{
        margin-top: 45px;
        grid-template-columns: auto;
    }

    .working-body .single-working-body{
        padding: 45px;

    }

    .single-working-body h4{
        font-size: 16px;
        margin-bottom: 10px;
    }
    .single-working-body ul li a{
        font-size: 13px;
    }
    .event-section{
        padding-top: 50px;
        padding-bottom: 100px;
        border-bottom: 13px solid #ffffff;
    }

    .event-body{
        padding-top: 50px;
        grid-template-columns: auto;
    }

    .single-event-body{
        padding: 60px;
    }

    .single-event-body img{
        max-width: 230px;
        max-height: 90px;
        margin-bottom: 20px;
    }

    .single-event-body p{
        font-size: 16px;
        font-weight: 100;
        line-height: 20px;
    }
    .messagebox{
        padding-top: 60px;
        padding-bottom: 85px;
    }
    .messagebox-content h3{
        font-weight: 400;
        font-size: 26px;
        margin-bottom: 13px;
    }

    .messagebox-content h4{
        margin-top: 10px;
        font-size: 16px;
        line-height: 20px;
    }

    .messagebox form{
        padding-top: 24px;
    }
    .messagebox form input{
        margin-top: 15px;
        font-size: 14px;
        line-height: 1;
    }

    .messagebox form button{
        margin-top: 30px;
        font-size: 12px;
        padding: 8px 20px 8px 20px;
    }
    footer{
        padding-top: 35px;
        padding-bottom: 40px;
     }
     footer p{
         font-size: 12px;
         line-height: 18px;
     }  
}

@media (max-width: 768px) {
    .logo{
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .logo{
        width: 25%;
        height: auto;
    }
    .toggler-menu{
        display: block;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .header-menu2 .toggler-menu{
        display: block;
        margin-left: 50%;
        transform: translateX(-50%);
        border-top: 1px solid #000000;
    }
    .toggler-menu i{
        font-size: 25px;
    }
    nav{
        margin-top: 0px;
    }
    nav ul{
        z-index: 5;
        position: absolute;
        top: 100%;
        left: -211%;
        background-color: transparent;
        width: 100%;
        transition: 0.6s all;
        text-align: center;
    }
    nav ul li{
        display: block;
    }
    nav ul li a{
        width: 100%;
    }
    .content{
        margin-top: 90px;
    }
    .content>h3{
        font-weight: 200;
        font-size: 26px;
    }

    .content>h4{
        margin-top: 10px;
        font-size: 18px;
    }
    .button{
        margin-top: 110px;
    }
    .button button img{
        margin-left: 11.5px;
        margin-bottom: 15px;
    }

    .button button a{
        margin-top: 20px;
        font-size: 14px;
        font-weight: 300;
    }
    .welcome-section{
        border-bottom: 1px solid #e6e6e6;
        padding-bottom: 100px;
    }
    .line{
        height: 80px;
    }
    .welcome-content{
        margin-top: 70px; 
    }
    .welcome-content h3{
        font-weight: 300;
        font-size: 26px;
    }

    .welcome-content h4{
        margin-top: 10px;
        font-size: 16px;
    }
    .welcome-text p{
        font-size: 16px;
    }
    .technologies{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .techno-text h3{
        font-weight: 300;
        font-size: 26px;
    }

    .techno-text h4{
        margin-top: 10px;
        font-size: 16px;
    }
    .techno-logo{
        padding: 0px;
        width: 100%;
    }
    .techno-logo img{
        width: 80px;
        padding: 10px;
    }
    .working-section{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .working-content h3{
        font-weight: 300;
        font-size: 26px;
        margin-bottom: 13px;
    }

    .working-content h4{
        margin-top: 10px;
        font-size: 16px;
    }

    .working-body{
        margin-top: 45px;
        grid-template-columns: auto;
    }

    .working-body .single-working-body{
        padding: 45px;

    }

    .single-working-body h4{
        font-size: 16px;
        margin-bottom: 10px;
    }
    .single-working-body ul li a{
        font-size: 13px;
    }
    .event-section{
        padding-top: 50px;
        padding-bottom: 100px;
        border-bottom: none;
    }

    .event-body{
        padding-top: 50px;
        grid-template-columns: auto;
    }

    .single-event-body{
        padding: 60px;
    }

    .single-event-body img{
        max-width: 230px;
        max-height: 90px;
        margin-bottom: 20px;
    }

    .single-event-body p{
        font-size: 16px;
        font-weight: 100;
        line-height: 20px;
    }
    .messagebox{
        padding-top: 60px;
        padding-bottom: 85px;
    }
    .messagebox-content h3{
        font-weight: 400;
        font-size: 26px;
        margin-bottom: 13px;
    }

    .messagebox-content h4{
        margin-top: 10px;
        font-size: 16px;
        line-height: 20px;
    }

    .messagebox form{
        padding-top: 24px;
    }
    .messagebox form input{
        margin-top: 15px;
        font-size: 14px;
        line-height: 1;
    }

    .messagebox form button{
        margin-top: 30px;
        font-size: 12px;
        padding: 16px;
    }
    .messagebox form {
        width: 100%;
    }
    .event-body {
        display: block;
    }
}

@media (min-width: 992px) {
  
}