/*Gooele:  font-family: 'Montserrat', sans-serif;
Adobe: font-family: myriad-pro, sans-serif;
font-weight: 700;
font-style: normal;
*/
body{
    margin: 0;
    padding: 0;
    text-align: center;
}


.header{
	width:100%;
	/* position:relative; */
    -webkit-transition:all 0.6s ease;
    -moz-transition:all 0.6s ease;
    -ms-transition:all 0.6s ease;
    -o-transition:all 0.6s ease;
    transition:all 0.6s ease;
	position:fixed;
	z-index:9;
	left:0;
	top:0;
}
.header.fix{
	background-color:rgba(255,255,255,0.9);
}
.hdrIn{
	width:100%;
	padding:36px 0;
	/* position:relative; */
    -webkit-transition:all 0.6s ease;
    -moz-transition:all 0.6s ease;
    -ms-transition:all 0.6s ease;
    -o-transition:all 0.6s ease;
    transition:all 0.6s ease;
}
.header.fix .hdrIn{padding:15px 0}

.hdrIn::after,
.hdrIn::before{
	display:block;
	content:"";
}
.hdrIn::after{clear:both}

.logo{
	width:189px;
	float:left;
}
.logo img{
	width:100%;
	display:block;
}
.logo img:nth-child(2),
.header.fix .logo img:nth-child(1){display:none}
.header.fix .logo img:nth-child(2){display:block}

.nav{
	float:right;
}
.nav ul{
	margin:0;
	padding:0;
	list-style:none;
	float:left;
}
.nav li{
	font-weight:600;
    font-family: 'Montserrat', sans-serif;
	text-transform:uppercase;
	line-height:16px;
	font-size:13px;
	color:#fff;
}
.nav > ul > li{float:left}
.nav li a{
	padding:15px 17px;
	display:inline-block;
	text-decoration:none;
	color:#fff;
}
.header.fix .nav li a{color:#000}
.nav li a:hover{color:#1cb57b}





.banner{
    background: url("../IMG/banner.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    height:100vh;
}

.banner .container{
    text-align: center;
    -webkit-transform:translateY(-50%);
    transform: translateY(-13%);
    position:relative;
    top:50%;
    color: white;
    /* font-family: 'Questrial', sans-serif; */
}

.banner h3{
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 52px;
    text-align: center;
}

.banner h4{
    margin-top: 15px;
    color: #ffffff;
    font-family: 'Questrial', sans-serif;
    font-size: 24px;
    font-weight: 100;
    text-align: center;
    margin-bottom: 43px;
}

.scrollBtn{text-transform: uppercase;font-family: 'Questrial', sans-serif;line-height: 2;}

	.banner{
	}
	.banner h3 {}
	.banner h4 {}
	.banner .container{
	}
	.scrollBtn{
		position:relative;
		margin:30px auto 0;
	}

}

.welcome-section{
    background-color: #ffffff;
    margin-bottom: auto;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 140px;
}

.line{
    width:2px;
    height: 123px;
    background-color: #067ceb;
    margin: auto;
}

.welcome-content{
   margin-top: 95px; 
}

.welcome-content h3{
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 42px;
    text-align: center;
}

.welcome-content h4{
    margin-top: 15px;
    color: #000000;
    font-family: 'Questrial', sans-serif;
    font-size: 18px;
    font-weight: 100;
    text-align: center;
}

.welcome-image{
    text-align: center;
}

.welcome-image img{
    width: 70%;
    height: auto;
}

.welcome-text{
   text-align: center;
}

.welcome-text p{
    color: #3f434b;
    font-family: 'Questrial', sans-serif;
    font-size: 18px;
    font-style: italic;
}

.technologies{
    padding-top: 140px;
    padding-bottom: 221px;
    background: url("../IMG/background2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}

.techno-text{
    text-align: center;
}

.techno-text h3{
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 42px;
    text-align: center;
}

.techno-text h4{
    margin-top: 15px;
    color: #000000;
    font-family: 'Questrial', sans-serif;
    font-size: 18px;
    font-weight: 100;
    text-align: center;
}

.techno-logo{
    padding: 123px 0px 50px 0px;
    //display: flex;
    //justify-content: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 60%;
    margin: auto;
    
}

.techno-logo img{
    width: 133px;
    height: auto;
    padding: 10px;
}

.working-section{
    background-color: #067ceb;
    padding-top: 100px;
}

.working-content{
    
}

.working-content h3{
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 42px;
    text-align: center;
    margin-bottom: 27px;
}

.working-content h4{
    margin-top: 15px;
    color: #ffffff;
    font-family: 'Questrial', sans-serif;
    font-size: 18px;
    font-weight: 100;
    text-align: center;
    line-height: 25px;
}

.working-body{
    margin-top: 75px;
    display: grid;
    grid-template-columns: auto auto;
}

.working-body .single-working-body{
    padding: 80px;
    text-align: center;
    border: 1px solid #278cea;
    
}

.single-working-body h4{
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 100;
    text-align: center;
    line-height: 25px;
    margin-bottom: 12px;
}

.single-working-body ul{
    margin: 0;
    padding: 0;
}

.single-working-body ul li{
    margin: 0;
    list-style: none;
}

.single-working-body ul li a{
    text-decoration: none;
    color: #ffffff;
    font-family: 'lato', sans-serif;
    font-size: 14px;
    text-align: center;
    line-height: 22px;
}

.single-working-body button{
    margin-top: 28px;
    border: none;
    background: transparent;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #0563bc;
    padding: 10px 25px 10px 25px;
    border-radius: 5px;
}

.event-section{
    padding-top: 65px;
    padding-bottom: 450px;
    background: url("../IMG/bottom-banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}

.event-body{
    padding-top: 80px;
    display: grid;
    grid-template-columns: auto auto;
}

.single-event-body{
    padding: 95px;
    text-align: center;
    border: 1px solid #e6e6e6;
}

.single-event-body img{
    max-width: 230px;
    max-height: 90px;
    margin-bottom: 30px;
}

.single-event-body p{
    color: #000000;
    font-family: 'Questrial', sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    line-height: 25px;
}

.messagebox{
    padding-top: 120px;
    padding-bottom: 180px;
    background-color: #22c064;
}

.messagebox-content{
    
}

.messagebox-content h3{
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 42px;
    text-align: center;
    margin-bottom: 27px;
}

.messagebox-content h4{
    margin-top: 15px;
    color: #ffffff;
    font-family: 'Questrial', sans-serif;
    font-size: 18px;
    font-weight: 100;
    text-align: center;
    line-height: 25px;
}

.messagebox form{
    padding-top: 48px;
    width: 60%;
    margin: auto;
    text-align: center;
}

.messagebox form input{
    margin-top: 20px;
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    color: #91e0b2;
    border: none;
    padding: 25px 10px;
}

.messagebox form button{
    margin-top: 35px;
    border: none;
    background: transparent;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #1b9a50;
    padding: 15px 24px;
    border-radius: 5px;
}

.mapbox{
    width: 100%;
    position: relative;
    padding-top: 24%;
    overflow: hidden;
    max-width: 1365px;
}

.mapbox iframe{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

footer{
   padding-top: 55px;
   padding-bottom: 90px;
   text-align: center;
   font-family: 'Questrial', sans-serif; 
}

footer img{
}

footer p{/*Gooele:  font-family: 'Montserrat', sans-serif;
    Adobe: font-family: myriad-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    */
    body{
        margin: 0;
        padding: 0;
        text-align: center;
    }
    
    
    .header{
        width:100%;
        /* position:relative; */
        -webkit-transition:all 0.6s ease;
        -moz-transition:all 0.6s ease;
        -ms-transition:all 0.6s ease;
        -o-transition:all 0.6s ease;
        transition:all 0.6s ease;
        position:fixed;
        z-index:9;
        left:0;
        top:0;
    }
    .header.fix{
        background-color:rgba(255,255,255,0.9);
    }
    .hdrIn{
        width:100%;
        padding:36px 0;
        /* position:relative; */
        -webkit-transition:all 0.6s ease;
        -moz-transition:all 0.6s ease;
        -ms-transition:all 0.6s ease;
        -o-transition:all 0.6s ease;
        transition:all 0.6s ease;
    }
    .header.fix .hdrIn{padding:15px 0}
    
    .hdrIn::after,
    .hdrIn::before{
        display:block;
        content:"";
    }
    .hdrIn::after{clear:both}
    
    .logo{
        width:189px;
        float:left;
    }
    .logo img{
        width:100%;
        display:block;
    }
    .logo img:nth-child(2),
    .header.fix .logo img:nth-child(1){display:none}
    .header.fix .logo img:nth-child(2){display:block}
    
    .nav{
        float:right;
    }
    .nav ul{
        margin:0;
        padding:0;
        list-style:none;
        float:left;
    }
    .nav li{
        font-weight:600;
        font-family: 'Montserrat', sans-serif;
        text-transform:uppercase;
        line-height:16px;
        font-size:13px;
        color:#fff;
    }
    .nav > ul > li{float:left}
    .nav li a{
        padding:15px 17px;
        display:inline-block;
        text-decoration:none;
        color:#fff;
    }
    .header.fix .nav li a{color:#000}
    .nav li a:hover{color:#1cb57b}
    
    
    
    
    
    .banner{
        background: url("../IMG/banner.jpg") no-repeat;
        background-size: cover;
        width: 100%;
        height:100vh ;
    }
    
    .banner .container{
        text-align: center;
        -webkit-transform:translateY(-50%);
        transform: translateY(-13%);
        position:relative;
        top:50%;
        color: white;
        /* font-family: 'Questrial', sans-serif; */
    }
    
    .banner h3{
        color: #ffffff;
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
        font-size: 52px;
        text-align: center;
    }
    
    .banner h4{
        margin-top: 15px;
        color: #ffffff;
        font-family: 'Questrial', sans-serif;
        font-size: 24px;
        font-weight: 100;
        text-align: center;
        margin-bottom: 43px;
    }
    
    .scrollBtn{text-transform: uppercase;font-family: 'Questrial', sans-serif;line-height: 2;}

        .banner{
            padding-top:55%;
            padding-bottom:15px;
            background-size:100% auto;
            background-color:#5457d3;
            text-align:center;
            height:auto;
        }
        .banner h3 {font-size: 18px}
        .banner h4 {font-size: 16px}
        .banner .container{
            -webkit-transform:translateY(0);
            transform:translateY(0);
            top:0;
        }
        .scrollBtn{
            position:relative;
            margin:30px auto 0;
        }
    
    }
    
    .welcome-section{
        background-color: #ffffff;
        margin-bottom: auto;
        border-bottom: 1px solid #e6e6e6;
        padding-bottom: 140px;
    }
    
    .line{
        width:2px;
        height: 123px;
        background-color: #067ceb;
        margin: auto;
    }
    
    .welcome-content{
       margin-top: 95px; 
    }
    
    .welcome-content h3{
        color: #000000;
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
        font-size: 42px;
        text-align: center;
    }
    
    .welcome-content h4{
        margin-top: 15px;
        color: #000000;
        font-family: 'Questrial', sans-serif;
        font-size: 18px;
        font-weight: 100;
        text-align: center;
    }
    
    .welcome-image{
        text-align: center;
    }
    
    .welcome-image img{
        width: 70%;
        height: auto;
    }
    
    .welcome-text{
       text-align: center;
    }
    
    .welcome-text p{
        color: #3f434b;
        font-family: 'Questrial', sans-serif;
        font-size: 18px;
        font-style: italic;
    }
    
    .technologies{
        padding-top: 140px;
        padding-bottom: 221px;
        background: url("../IMG/background2.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: auto;
    }
    
    .techno-text{
        text-align: center;
    }
    
    .techno-text h3{
        color: #000000;
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
        font-size: 42px;
        text-align: center;
    }
    
    .techno-text h4{
        margin-top: 15px;
        color: #000000;
        font-family: 'Questrial', sans-serif;
        font-size: 18px;
        font-weight: 100;
        text-align: center;
    }
    
    .techno-logo{
        padding: 123px 0px 50px 0px;
        //display: flex;
        //justify-content: center;
        display: grid;
        grid-template-columns: auto auto auto auto;
        width: 60%;
        margin: auto;
        
    }
    
    .techno-logo img{
        width: 133px;
        height: auto;
        padding: 10px;
    }
    
    .working-section{
        background-color: #067ceb;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    
    .working-content{
        
    }
    
    .working-content h3{
        color: #ffffff;
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
        font-size: 42px;
        text-align: center;
        margin-bottom: 27px;
    }
    
    .working-content h4{
        margin-top: 15px;
        color: #ffffff;
        font-family: 'Questrial', sans-serif;
        font-size: 18px;
        font-weight: 100;
        text-align: center;
        line-height: 25px;
    }
    
    .working-body{
        margin-top: 75px;
        display: grid;
        grid-template-columns: auto auto;
    }
    
    .working-body .single-working-body{
        padding: 80px;
        text-align: center;
        border: 1px solid #278cea;
        
    }
    
    .single-working-body h4{
        color: #ffffff;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        font-weight: 100;
        text-align: center;
        line-height: 25px;
        margin-bottom: 12px;
    }
    
    .single-working-body ul{
        margin: 0;
        padding: 0;
    }
    
    .single-working-body ul li{
        margin: 0;
        list-style: none;
    }
    
    .single-working-body ul li a{
        text-decoration: none;
        color: #ffffff;
        font-family: 'lato', sans-serif;
        font-size: 14px;
        text-align: center;
        line-height: 22px;
    }
    
    .single-working-body button{
        margin-top: 28px;
        border: none;
        background: transparent;
        color: #ffffff;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        background-color: #0563bc;
        padding: 10px 25px 10px 25px;
        border-radius: 5px;
    }
    
    .event-section{
        padding-top: 65px;
        padding-bottom: 450px;
        background: url("../IMG/bottom-banner.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: auto;
    }
    
    .event-body{
        padding-top: 80px;
        display: grid;
        grid-template-columns: auto auto;
    }
    
    .single-event-body{
        padding: 95px;
        text-align: center;
        border: 1px solid #e6e6e6;
    }
    
    .single-event-body img{
        max-width: 230px;
        max-height: 90px;
        margin-bottom: 30px;
    }
    
    .single-event-body p{
        color: #000000;
        font-family: 'Questrial', sans-serif;
        font-size: 18px;
        font-weight: 300;
        text-align: center;
        line-height: 25px;
    }
    
    .messagebox{
        padding-top: 120px;
        padding-bottom: 180px;
        background-color: #22c064;
    }
    
    .messagebox-content{
        
    }
    
    .messagebox-content h3{
        color: #ffffff;
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
        font-size: 42px;
        text-align: center;
        margin-bottom: 27px;
    }
    
    .messagebox-content h4{
        margin-top: 15px;
        color: #ffffff;
        font-family: 'Questrial', sans-serif;
        font-size: 18px;
        font-weight: 100;
        text-align: center;
        line-height: 25px;
    }
    
    .messagebox form{
        padding-top: 48px;
        width: 60%;
        margin: auto;
        text-align: center;
    }
    
    .messagebox form input{
        margin-top: 20px;
        display: block;
        width: 100%;
        height: calc(1.5em + 0.75rem + 2px);
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;
        line-height: 1.5;
        color: #91e0b2;
        border: none;
        padding: 25px 10px;
    }
    
    .messagebox form button{
        margin-top: 35px;
        border: none;
        background: transparent;
        color: #ffffff;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        background-color: #1b9a50;
        padding: 15px 24px;
        border-radius: 5px;
    }
    
    .mapbox{
        width: 100%;
        position: relative;
        padding-top: 24%;
        overflow: hidden;
        max-width: 1365px;
    }
    
    .mapbox iframe{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
    
    footer{
       padding-top: 55px;
       padding-bottom: 90px;
       text-align: center;
    }
    
    footer img{
    }
    
    footer p{
        font-family: 'Questrial', sans-serif;
        font-size: 14px;
        text-align: center;
        line-height: 20px;
    }
    
    
    
    font-family: 'Questrial', sans-serif;
    font-size: 14px;
    text-align: center;
    line-height: 20px;



